body {
    text-align: center;
    background-color: rgba(207, 218, 233, 0.658);
  }
  
  h1, h2, h3 {
    text-align: center;
  }

  #connect4 {
    background-color: darkblue;
    display: inline-block;
  }
  
  .col {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-color: rgba(207, 218, 233, 0.658);
    border-radius: 50%;
    margin: 5px;
  }
  
  .col.empty {
    cursor: pointer;
  }
  
  .next-red {
    background-color: rgba(255, 0, 0, 0.726);
  }
  
  .next-yellow {
    background-color: rgba(236, 221, 14, 0.801);
  }
  
  .col.red {
    background-color: red;
  }
  
  .col.yellow {
    background-color: rgb(241, 218, 10);
  }
  .button{
    font-size: large;
    margin: 5px;
  }